.table-success {
  background-color: #C2F9C0 ;
  color: black;
}

.table-warning {
  background-color: #FCFC8F;
  color: black;
}

.table-danger {
  background-color: #F08080;
  color: black;
}

.details-button{
  width: 120px;
  height: 40px;
  font-size: 15px;
  background-color: #0cb7f2;
  color: white;
  border: 10px #0cb7f2 solid;
  border-radius: 5px;
  cursor: pointer;
} 


.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 30%;
  min-width: 300px;
  border-radius: 4px;
}

.modal-header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.close-button {
  cursor: pointer;
  font-size: 20px;
}

.modal-body {
  padding: 20px;
}

.information-h2 {
  color: black;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.modal-body p {
  margin: 10px 0;
}

.modal-body p strong {
  margin-right: 5px;
}
