<div class="details bg-primary">
    <h1 mat-dialog-title class="details-title">Detalles del estudiante</h1>
</div>
<div class="information-section">
    <div mat-dialog-content>Informacion</div>
    <hr>
    <ul>
        <li mat-dialog-content>Nombre: <p class="information-data">{{data.name}}</p></li>
        
        <li mat-dialog-content>Calificacion: <p class="information-data">{{data.score}}</p></li>
        <li mat-dialog-content>Estado: <p class="information-data">{{data.status}}</p></li>
    </ul>
</div>
